body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* card */

.rb-card {
  height: 100px;
  width: 200px;
  background-color: lightgray;
  border-radius: 10px;
}